    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #DEF2F1;
        text-align: center;
    }
    
    header {
        background-color: #3AAFA9;
        color: white;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    header h1 {
        display: inline;
        text-align: left;
        font-family: 'Carter One', cursive;
        letter-spacing: 3px;
    }
    
    header nav {}
    
    header nav ul li {
        display: inline;
        margin: 0 0 0 2rem;
    }
    
    ul a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: large;
    }
    
    main {
        padding: 1rem;
    }
    
    main h1 {
        margin-bottom: 1.5rem;
        color: #182628;
    }
    
    main label {
        font-weight: 500;
    }
    
    main input {
        display: block;
        text-align: center;
        margin: 0.8rem auto;
        padding: 0.5rem 2rem;
        border: 2px solid #3AAFA9;
        border-radius: 0.5rem;
        outline: #fff;
    }
    
    button {
        padding: 0.6rem 1rem;
        margin: 0.6rem auto 2rem auto;
        outline: #fff;
        border-radius: 0.8rem;
        background-color: #3AAFA9;
        border-color: #3AAFA9;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    
    .center {
        text-align: center;
    }
    
    .output-container {
        font-weight: 800;
        font-size: larger;
    }
    
    footer {
        text-align: center;
        margin: 2rem auto;
    }
    
    footer p {
        font-size: large;
        text-align: center;
    }
    
    .footer-list {
        margin: 1rem;
    }
    
    a,
    img,
    li {
        display: inline;
        margin: 0 0.3rem;
        color: red;
    }
    
    img {
        width: 35px;
        padding: 0.2rem;
    }
    /* Quiz.html style */
    
    .quiz-form {
        padding: 1rem;
        width: 50%;
        margin: auto;
        text-align: left;
        font-weight: 500;
        font-size: larger;
    }
    
    .question-container p {
        margin: 1rem 0;
    }
    
    .question-container input {
        margin: 0 0.7rem;
    }
    
    .quiz-header {
        margin: 1rem 0 0 0;
    }
    
    .hypotenuse-formula {
        margin-bottom: 2rem;
    }
    
    @media (max-width: 900px) {
        header {
            display: inline-block;
            width: 100%;
        }
        header h1 {
            text-align: center;
            font-size: 1.5rem;
        }
        header nav ul {
            text-align: center;
            margin-top: 0.5rem;
        }
        header nav ul li {
            margin: 0.5rem;
        }
        header ul a {
            margin: 0.3rem;
            font-weight: 800;
            font-size: larger;
        }
        .quiz-form {
            padding: 1rem;
            width: 90%;
            margin: auto;
            text-align: left;
            font-weight: 600;
            font-size: larger;
        }
        .angle-input {
            width: 80%;
        }
    }